*{
  --border-radius: 2px;
}

.btn{
  padding: 8px 24px;
  margin: 8px 8px;
  border: none;
  border-radius: var(--border-radius);
  font-size: 19px;
}

.btn--primary{
  --clr-bg-button: black;
  background-color: var(--clr-bg-button);
  color: var(--clr-white);
}

.btn__outline{
  color: black;
  border: 1px solid black;
}