// LAYOUT

body{
    background: black url('../images/bg-main.jpg') center/cover no-repeat;
}

.container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 60px);
    max-width: $max-width;
}

.flex-cc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// flex for two

.flex-two-col{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media only screen and (max-width: $small){
        flex-direction: column;
    }
}

.grid-2-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 8px;
    width: 100%;
}

.align-center{
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 16px;
}